/*没有后端获取JSON数据直接设置banner图*/
.banner .carousel > li:nth-child(1) {
    background: url("http://d.5857.com/ecymt_161128/001.jpg");
}

.banner .carousel > li:nth-child(2) {
    background: url("http://d.5857.com/ecymt_161128/002.jpg");
}

.banner .carousel > li:nth-child(3) {
    background: url("http://d.5857.com/ecymt_161128/003.jpg");
}

.banner .carousel > li:nth-child(4) {
    background: url("http://d.5857.com/ecymt_161128/004.jpg");
}

/*没有后端获取JSON数据直接设置banner图*/
.banner > .pre, .banner > .next {
    display: block;
    position: absolute;
    z-index: 999;
    margin: 0 1rem;
    padding: 1rem .5rem;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.2);
    font-size: 3rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.banner > .pre {
    left: 0;
}

.banner > .next {
    right: 0;
}

.bullets {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.bullets > li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.bullets > li:first-child {
    margin-left: 0;
}

.bullets > li.active {
    background: rgba(0, 0, 0, 0.4);
}