
.newsTemp {
    margin: 0 auto;
    /*overflow-y: scroll;*/
    max-width: 1200px;
    position: relative;
}

.newsTemp * {
    width: 200px;
}

.newsTemp .newsCt {
    background: rgba(255, 255, 255, .8);
    padding: 8px;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
    transition: all ease .3s;
    position: absolute;
}

.newsTemp .newsCt:hover {
    background: lightseagreen;
}

.newsTemp a {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
}

.newsTemp img {
    width: 200px;
}

.newsBtn{
    display: block;
    outline: none;
    border:1px solid lightseagreen;
    border-radius: 6px;
    background: #fff;
    color: lightseagreen;
    padding: 10px 18px;
    margin: 16px auto;
    cursor: pointer;
}
